<!doctype html>

<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class='create-blog content'>
        <form action="/blogs" method="POST">
            <label for='title'>Blog Title:</label>
            <input type='text' id='title' required name='title' />
            <label for='body'>Blog body: </label>
            <textarea id='body' required name='body'></textarea>
            <button>Submit</button>
        </form>

        <textarea name="editor1"></textarea>
                
    </div>
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
</body>
<%- include('../partials/footer.ejs') %>
</html>