<head>
    <meta charset="utf-8">
  
    <title>From Test Tubes To Pull Requests | <%=title%></title>
    <link rel='stylesheet' href='/styles.css'>
    <meta name="description" content="Blogtastic">
    <meta name="author" content="Nicole Aldurien">
 
    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  
  </head>