<!doctype html>

<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

    <div class='about content'>
        <h2>About Us</h2>
        <p>Lorem ipsum blah blah yada yada whatever</p>
        <p>Lorem ipsum blah blah yada yada whatever</p>
        <p>Lorem ipsum blah blah yada yada whatever</p>
    </div>
  <!-- <script src="js/scripts.js"></script> -->
</body>
<%- include('./partials/footer.ejs') %>
</html>